<header class="container py-4 flex justify-between fixed top-0 left-1/2 -translate-x-1/2 z-[2]">
  <a routerLink="home"><img ngSrc="/logo.png" alt="" height="48" width="102" priority></a>

  <div class="flex gap-16">
    <nav class="flex items-center">
      <ul class="flex gap-8">
        @for (item of navItems; track item.link) {
          <li>
            <a
              [class]="'font-semibold text-primary hover:bg-primary hover:text-white ' +
                       'transition-all px-2 py-1 rounded-md'"
              [class.bg-primary]="item.isActive"
              [class.text-white]="item.isActive"

              routerLink="{{item.link}}"
            >{{ item.label }}</a>
          </li>
        }
      </ul>
    </nav>

    <div class="flex gap-4 items-center">
      @for (item of actionButtons; track item.link) {
        <a routerLink="{{item.link}}"
           [class]="
           'px-4 py-1 rounded-md border-2 border-primary text-primary font-semibold ' +
           'hover:bg-primary hover:text-white transition-all'">
          {{ item.label }}
        </a>
      }
      @if (this.userIsLogged) {
        <button
          (click)="authService.logout()"
          type="button"
          [class]="'px-4 py-1 rounded-md border-2 border-primary text-primary font-semibold cursor-pointer ' +
                   'hover:bg-primary hover:text-white transition-all flex items-center gap-2'">
          <span>Sair</span><span class="material-symbols-outlined">logout</span>
        </button>
      }
    </div>
  </div>

</header>

<div class="backdrop-blur-xl bg-white/30 fixed top-0 left-0 w-screen h-[80px] z-[1] border-b-1 border-gray-200"></div>
