<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="flex flex-col gap-6 items-start border-2 border-primary w-full max-w-full *:w-full rounded-lg p-4">

    <div class="flex flex-col gap-10">
      @if (customers) {
        <div class="flex flex-col w-full">
          <label class="text-primary text-lg font-semibold" for="customer">Cliente</label>
          <select
            formControlName="customer"
            id="customer"
            type="text"
            class="px-2 py-1 border-1 border-black rounded-md">
            @for (customer of customers; track customer.id) {
              <option [value]="customer.id">{{ customer.name }}</option>
            }
          </select>
          @if (alreadyClickedSubmitButton && form.controls.customer.getError('required')) {
            <span class="mt-1 text-red-700 text-sm">Este campo é obrigatório.</span>
          }
        </div>
      } @else {
        <p>Carregando clientes...</p>
      }

      <span class="border-b-1 border-gray-300"></span>

      @if (productsData) {
        <div formArrayName="products" class="flex flex-col gap-6 md:gap-4 max-w-full">
          <div class="flex gap-2 items-center">
            <h5 class="text-primary text-lg font-semibold">Produtos</h5>
            <button
              (click)="addProduct()"
              type="button"
              [class]="
                'rounded-sm transition-all border-1 h-fit material-symbols-outlined text-lg! leading-none p-0.5 ' +
                'cursor-pointer border-primary text-primary hover:bg-primary hover:text-white'">
              add
            </button>
          </div>
          @for (productForm of productsArray.controls; let i = $index; track i) {
            <div class="flex flex-col gap-2">
              <div class="flex gap-6 md:gap-4 items-center md:items-end" [formGroupName]="i">
                <div class="flex gap-2 md:gap-4 flex-col md:flex-row w-full min-w-0">
                  <div class="flex flex-col w-full max-w-full min-w-0">
                    <label class="text-sm" for="id-{{i}}">Produto</label>
                    <select
                      (input)="this.onProductIdInput(i, $event)"
                      formControlName="id"
                      id="id-{{i}}"
                      name="id-{{i}}"
                      type="text"
                      [value]="productsArray.at(i).value.id"
                      class="px-2 py-1 h-[32px] border-1 border-black rounded-md min-w-0"
                    >
                      @for (product of productsData; track product.id) {
                        <option [value]="product.id">{{ product.name }}</option>
                      }
                    </select>
                  </div>
                  <div class="flex flex-col max-w-[80px]">
                    <label class="text-sm" for="quantity-{{i}}">Quantidade</label>
                    <input
                      min="1"
                      (input)="this.onProductQuantityInput(i, $event)"
                      formControlName="quantity"
                      [value]="productsArray.at(i).value.quantity"
                      id="quantity-{{i}}"
                      name="quantity-{{i}}"
                      type="number"
                      class="px-2 h-[32px] border-1 border-black rounded-md">
                  </div>
                </div>
                <span class="border-l-1 border-gray-300 h-16 md:h-8"></span>
                <button
                  (click)="removeProduct(i)"
                  [disabled]="productsArray.length <= 1"
                  type="button"
                  [class]="
                            'material-symbols-outlined px-1 rounded-sm text-xl! transition-all border-1 ' +
                            'disabled:cursor-not-allowed disabled:border-gray-500 disabled:text-gray-500 ' +
                            'not-disabled:cursor-pointer not-disabled:border-primary not-disabled:text-primary ' +
                            'not-disabled:hover:bg-primary not-disabled:hover:text-white '">
                  delete
                </button>
              </div>
              <div class="flex flex-col">
                @if (alreadyClickedSubmitButton && productForm.get('id')!.getError('required')) {
                  <span class="mt-1 text-red-700 text-sm">Este campo é obrigatório.</span>
                }
                @if ((alreadyClickedSubmitButton || productForm.get('quantity')!.dirty) && productForm.get('quantity')!.getError('max')) {
                  <span class="mt-1 text-red-700 text-sm">A quantidade máxima é de
                    {{ productForm.get('quantity')!.getError('max').max }}.</span>
                }
                @if ((alreadyClickedSubmitButton || productForm.get('quantity')!.dirty) && productForm.get('quantity')!.getError('min')) {
                  <span class="mt-1 text-red-700 text-sm">A quantidade mínima é de
                    {{ productForm.get('quantity')!.getError('min').min }}.</span>
                }
              </div>
            </div>
          }
          @if (productsArray.getError('notUniqueProductIds')) {
            <span
              class="mt-1 text-red-700 text-sm">O mesmo produto não pode ser inserido mais de uma vez
              ({{ getProductsNamesByIds(productsArray.getError('notUniqueProductIds')) }}).
            </span>
          }
        </div>
      } @else {
        <p>Carregando produtos...</p>
      }

      <span class="border-b-1 border-gray-300"></span>

      <div class="flex flex-col col-span-2">
        <label class="text-sm" for="date">Data</label>
        <input formControlName="date" id="date" type="date" class="p-2 border-1 border-black rounded-md">
        @if (alreadyClickedSubmitButton || form.controls.date.dirty) {
          @if (form.controls.date.getError('required')) {
            <span class="mt-1 text-red-700 text-sm">Este campo é obrigatório.</span>
          } @else if (form.controls.date.getError('dateIsPastThanToday')) {
            <span class="mt-1 text-red-700 text-sm">A data não pode ser posterior ao dia atual.</span>
          }
        }
      </div>

      <div class="flex flex-col col-span-2">
        <label class="text-sm" for="description">Descrição</label>
        <textarea formControlName="description" id="description" type="text"
                  class="p-2 border-1 border-black rounded-md"></textarea>
        @if (form.controls.description.dirty && form.controls.description.getError('maxlength')) {
          <span class="mt-1 text-red-700 text-sm">A descrição pode ter, no máximo,
            {{ form.controls.description.getError('maxlength').requiredLength }} caracteres
              (no momento, tem {{ form.controls.description.getError('maxlength').actualLength }}).</span>
        }
      </div>
    </div>

    <div class="flex gap-4">
      @if (mode === "edit") {
        <button
          (click)="setCreationMode()"
          type="button"
          [class]="
          'font-semibold border-2 rounded-sm px-4 transition-all ' +
          'border-gray-500 text-gray-500 cursor-pointer ' +
          'hover:bg-gray-500 hover:text-white'">
          Cancelar
        </button>
      }

      <div class="w-fit" [class.cursor-not-allowed]="form.invalid" (click)="alreadyClickedSubmitButton = true">
        <button
          [class.disabled]="form.invalid"
          [class.enabled]="form.valid"
          type="submit"
          class="font-semibold border-2 rounded-sm px-4 transition-all">
          Enviar
        </button>
      </div>
    </div>
  </div>
</form>
