<app-header></app-header>
<main class="container flex flex-col mb-40">
  <div>
    <h3 class="text-primary text-3xl font-semibold mb-6">{{ this.formTitle }}</h3>
    <app-product-form
      (newProductAdded)="addNew($event)"
      (productEdited)="edit($event)"
      (creationModeSet)="setCreationMode()"
      [editModeEmitter]="editModeEmitter"/>
  </div>

  <h3 class="text-primary font-semibold text-3xl mt-16 mb-6">Produtos</h3>

  @if (finishedFirstLoading) {
    @if (products.length == 0) {
      <p>Não há produtos registrados.</p>
    } @else {
      <ul class="grid gap-6 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 grid-flow-row max-w-full items-start">
        @for (product of products; track product.id) {
          <li class="border-2 border-primary p-4 flex rounded-md justify-between">
            <div class="flex flex-col gap-2 min-w-0">
              <h5 class="text-xl font-medium">{{ product.name }}</h5>

              <div class="flex gap-2 items-center">
                <span class="text-sm">Preço</span>
                <span class="border-1 border-l border-primary"></span>
                <span class="font-medium">R${{ product.price | decimalWithTwoDigits }}</span>
              </div>
              @if (product.description) {
                <div class="flex flex-col gap-1 mt-2">
                  <span class="text-sm">Descrição</span>
                  <span class="font-medium">{{ product.description }}</span>
                </div>
              }
            </div>
            <div class="flex flex-col gap-2 pl-2 items-center">
              <a routerLink="/produto/{{product.id}}"
                 class="material-symbols-outlined text-[20px]! cursor-pointer">open_in_new</a>
              <button type="button" (click)="setEditModeToId(product.id)"
                      class="material-symbols-outlined text-[20px]! cursor-pointer">edit
              </button>
              <button type="button" (click)="delete(product.id)"
                      class="material-symbols-outlined text-[20px]! cursor-pointer">delete
              </button>
            </div>
          </li>
        }
      </ul>
    }
  }
</main>
