@import "tailwindcss";

@theme {
  --font-sans: "Raleway", sans-serif;
  --font-mono: "IBM Plex Mono", monospace;

  --color-white: #F8FDFF;
  --color-white-rgb: 248, 253, 255;

  --color-primary: #0E5E84;
  --color-primary-rgb: 14, 94, 132;

  --color-secondary: #FC9F5B;
  --color-secondary-rgb: 252, 159, 91;

  --color-black: #242325;
  --color-black-rgb: 36, 35, 37;
}

body {
  background-color: #F8FDFF;
  @apply bg-white text-black;
}

.container {
  @apply mx-auto;
}

main.container {
  @apply mt-40;
}

.luminosity-effect {
  @apply absolute z-[-1] w-[320px] h-[400px] rounded-full;

  background: radial-gradient(circle, rgba(var(--color-secondary-rgb), 0.10) 25%, rgba(var(--color-secondary-rgb), 0) 75%);
}
