@import "tailwindcss";

@theme {
  --font-sans: "Raleway", sans-serif;
  --color-white: #F8FDFF;
  --color-primary: #1D84B5;
  --color-secondary: #1D84B5;
  --color-black: #242325;
}

body {
  background-color: #F8FDFF;
  @apply bg-white text-black;
}

.container {
  @apply mx-20;
}
