@import "tailwindcss";

@theme {
  --font-sans: "Raleway", sans-serif;
  --color-white: #F8FDFF;
  --color-primary: #0E5E84;
  --color-secondary: #FC9F5B;
  --color-black: #242325;
}

body {
  background-color: #F8FDFF;
  @apply bg-white text-black;
}

.container {
  @apply mx-auto;
}
